@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 0, 112);
}

@mixin main-button ($background: rgb(32, 32, 32), $color: white) {
    border-radius: 15px;
    font-size: 1rem;
    padding: 10px;
    text-transform: uppercase;
    background-color: $background;
    color: $color;

    a {
        color: $color;
    }
}